torch==1.8.1
faiss-cpu==1.7.0
pandarallel==1.5.2
record-keeper==0.9.30
torchcontrib==0.0.2
tensorboard==2.4.1
pytorch-metric-learning==0.9.98
scikit-learn==0.24.1
wordcloud==1.8.1
sentencepiece == 0.1.96
